.tweets{ 
  width: 100%; 
  border: 3px  solid black;
  margin-top: 20px;
  padding: 20px;
  box-shadow:  1px 3px;

  }
 
  .tweet-header{
  display:flex;
  justify-content: space-between;
  }
 
  
 
  .tweets p {
  border-bottom: 4px solid;
  
  }
 

 
  .tweets i{
    color:#4056A1;
    float:right;
    margin-right: 1em;
  }
  .tweets i:hover{

    color: brown;
  }

  .tweet-footer{
    display: flex;
    justify-content: space-between;
    margin: 0;


  }

  .tweet-footer h5 {
margin: 0;

  }