header {
  margin-top: 100px;
  height: 400px;
  width: 100%;
  background-color: goldenrod;
}

header div {
  display: flex;
  justify-content: center;
}

.name {
  color: white;
}

.adjust {
 padding-top: 1rem;


}